<?xml version='1.0'?>
<plugin>
  <info>
    <title>WB - lib</title>
    <provider>Warner Bros, Inc.</provider>
    <description>Provides various aspects, classes and templates for common functionality used on WB sites.
    </description>
    <priority>100</priority>
    <version>1.4.0</version>
  </info>

  <config>
    <![CDATA[
// todo: convert all of these to cftConstants
// generic names for images
/*
$properties['wblib.image.names'] = array(
    'portrait'  => array('Title' => 'Portrait',  'Size' => '100x200'),
    'landscape' => array('Title' => 'Landscape', 'Size' => '200x100'),
);
*/
$properties['wblib.image.names'] = array();

// named cache durations (in seconds)
$properties['wbcache.durations'] = array(
    'default'   => 300,
    'micro'     => 30,
    'tiny'      => 90,
    'short'     => 180,
    'long'      => 600,
    'verylong'  => 86400, // 24 hours
    'superlong' => 604800, // 1 week
    'forever'   => 31536000, // 1 year
);

// kontera (contextual ad provider - linkifies text)
$properties['cft.constants']['KONTERA_PUBLISHER_ID'] = '';
$properties['cft.constants']['KONTERA_AD_LINK_COLOR'] = 'blue';
$properties['cft.constants']['KONTERA_IS_BOLD_ACTIVE'] = 'no';

// tynt (copy paste tracker)
$properties['cft.constants']['TYNT_ID'] = '';

// google analytics
$properties['cft.constants']['GOOGLE_ANALYTICS_ACCOUNT'] = '';

// chartbeat (tracker)
$properties['cft.constants']['CHARTBEAT_UID'] = '';
$properties['cft.constants']['CHARTBEAT_DOMAIN'] = '';

// addthis (sharing widgets)
$properties['cft.constants']['ADDTHIS_PUB_ID'] = '';

// outbrain (related links/content)
$properties['cft.constants']['OUTBRAIN_TEMPLATE'] = '';

// gravity ads - replaces adsonar
$properties['cft.constants']['GRAVITY_SITE_GUID'] = '';

// sourcepoint
$properties['cft.constants']['SOURCEPOINT_API_KEY'] = '';
$properties['cft.constants']['SOURCEPOINT_API_URL'] = 'https://api.sourcepoint.com/';

// markdown editor constants
$properties['cft.constants']['MDE_IMAGE_TEMPLATE'] = $properties['media.library.dropImageToMarkdownTemplate'];
$properties['cft.constants']['MDE_LINK_TEMPLATE'] = '<a href="{{url}}">{{title}}</a>';
        ]]>
  </config>

</plugin>
